body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url('images/table.png');
  background-size: cover;
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}

h1 {
  color: goldenrod;
  font-size: 2.6rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.6rem;
  margin-top: 0rem;
  margin-bottom: 1.2rem;
}

h3 {
  font-size: 1.1rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

#message-el {
  font-style: oblique;
  color: rgb(196, 240, 196)
}

button {
  color: #016f32;
  font-size: 1.2rem;
  font-weight: bold;
  background: goldenrod;
  width: 150px;
  border-radius: 2px;
  padding: 6px;
  margin-top: .3rem;
}

.btn-wrapper {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

/* div.background {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */